
<h1>The Average price of the top ten groceries items</h1>
<button (click)="getTheStats()"> Button for averge price</button>
<div class="list-group">

  <a  class="list-group-item list-group-item-action list-group-item-success">Milk: {{itemData.Milk}}</a>
  <a  class="list-group-item list-group-item-action list-group-item-success">Cereal: {{itemData.Cereal}}</a>
  <a  class="list-group-item list-group-item-action list-group-item-success">Bread: {{itemData.Bread}}</a>
  <a  class="list-group-item list-group-item-action list-group-item-success">Soda: {{itemData.Soda}}</a>
  <a  class="list-group-item list-group-item-action list-group-item-success">Packaged Meats: {{itemData.PackagedMeats}}</a>
  <a  class="list-group-item list-group-item-action list-group-item-success">Salty Snacks: {{itemData.SaltySnacks}}</a>
  <a  class="list-group-item list-group-item-action list-group-item-success">Eggs: {{itemData.Eggs}}</a>
  <a  class="list-group-item list-group-item-action list-group-item-success">Laundry Detergent: {{itemData.LaundryDetergent}}</a>
  <a  class="list-group-item list-group-item-action list-group-item-success">Peanut Butter & Jelly {{itemData.PeanutButterAndJelly}}</a>
  <a  class="list-group-item list-group-item-action list-group-item-success">Water: {{itemData.Water}}</a>

</div>

