<div class="background">
    <h1>
        Welcome To Groceries Tracker, where we track the 10 most purchased grocery items and see what the different in prices are depending on the store or the location.
    </h1>
    <h2>
         This will help families Buy cheaper groceries and see the deals out there.
    </h2>
<br/>
<br/>
    <h3>
        These are the top ten grocery items in the United States
    </h3>
<br/>

    <div class="itemList">
        <ul class="list-group">
          <li class="list-group-item">Soda</li>
          <li class="list-group-item">Cereal</li>
          <li class="list-group-item">Water</li>
          <li class="list-group-item">Salty Snacks</li>
          <li class="list-group-item">Milk</li>
          <li class="list-group-item">Laundry Detergent</li>
          <li class="list-group-item">Eggs</li>
          <li class="list-group-item">Peanut Butter & Jelly</li>
          <li class="list-group-item">Packaged meats</li>
          <li class="list-group-item">Bread</li>
        </ul>
    </div>

</div>

